<a href="https://colab.research.google.com/github/Madhavi-Sawarkar/Githubcourse1208/blob/master/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()
print(df)

          Make       Model  Year  ... MPG-H  MPG-c  Price
0          BMW  1 Series M  2011  ...    26     19  46135
1          BMW    1 Series  2011  ...    28     19  40650
2          BMW    1 Series  2011  ...    28     20  36350
3          BMW    1 Series  2011  ...    28     18  29450
4          BMW    1 Series  2011  ...    28     18  34500
...        ...         ...   ...  ...   ...    ...    ...
11909    Acura         ZDX  2012  ...    23     16  46120
11910    Acura         ZDX  2012  ...    23     16  56670
11911    Acura         ZDX  2012  ...    23     16  50620
11912    Acura         ZDX  2013  ...    23     16  50920
11913  Lincoln      Zephyr  2006  ...    26     17  28995

[11914 rows x 11 columns]